    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="font-gulya about-title">Nähzwockel</h2>
                <p>♻️ Wiederverwendbare Produkte</p>
                <p>🌍 Müll vermeiden | Umwelt schonen 🍃</p>
                <p>💕 Mit Liebe handgemacht</p>
                <p>📦 Verkauf unter <a href="mailto:{{ site.email}}" title="{{ site.email }}">{{ site.email }}</a></p>
                <br>
                <p>Masken | Brottüten | Gemüsebeutel | Bestecktaschen | Wärmekissen</p>
                <br>
                <p>Alle Produktfotos auf Instagram</p>
                <p><a href="{{ site.social[0].url }}" class="btn-lg btn btn-default"><i class="fa fa-{{ site.social[0].title }} animated"></i> {{ site.social[0].title }}</a></p>
            </div>
        </div>
    </section>
