    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="centered">
                        {% include title.svg %}
                        <p>
                          <a href="{{ site.social[0].url }}" id="cta-button" class="invisible btn btn-round page-scroll">
                              <i class="fa fa-{{ site.social[0].title }} animated"></i> {{ site.social[0].title }}
                          </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
